---
import type { CollectionEntry } from 'astro:content'

interface Props<T extends string = 'posts'> {
  prev?: CollectionEntry<T>
  next?: CollectionEntry<T>
  basePath?: string
  class?: string
}

const { prev, next, basePath = '/posts', class: className } = Astro.props
---

<div class="grid grid-cols-2" class:list={[className]}>
  <div>
    {
      prev && (
        <a class="flex items-baseline gap-2 hover:text-accent" href={`${basePath}/${prev.slug}`}>
          <i class="iconfont icon-arrow-left" />
          <span>{prev.data.title}</span>
        </a>
      )
    }
  </div>
  <div>
    {
      next && (
        <a
          class="flex items-baseline justify-end gap-2 hover:text-accent"
          href={`${basePath}/${next.slug}`}
        >
          <span>{next.data.title}</span>
          <i class="iconfont icon-arrow-right" />
        </a>
      )
    }
  </div>
</div>
